
#basketNotify {
  display: none;
  position: absolute;
  left: 0px;
  top:  0px;
  background-color: red;
  color: white;
  z-index: 50;
}

#basketItem {


  #basketContainer {

    display: inline-block;
    text-align: center;

  }
}

#basketCount {
  border-radius: 10%;
  background-color: $basket-count-color;
}

.basketItemsContainer {

}

.subTotals {
  margin-top: 20px;
  font-size: 1.4em;

  .totalVal {
    font-weight: bold;
  }

  .labels {
    display: inline-block;
    text-align: right;
  }

  .totals {
    display: inline-block;
  }
}

