// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mapContainer {
  /*width: 70%;*/


  #map {
    width: 100%;
    height: 600px;
  }
}


.farmsContainer {
  background-color: $background-color;
  text-align: center;

  aside{
    margin-top: 20px;
    display: inline-block;
    width: 30%;
    height: 700px;
    overflow-y: auto;
  }

  section {
    margin-top: 20px;
    display: inline-block;
    width: 65%;
    vertical-align: top;
    padding-left: 10px
  }

  .farmName {
    border-bottom: 1px solid teal;
    margin-bottom: 10px;
  }
}
