
= render "page_title", title_text: "Products"

%div{id: "productsContainer", "ng-controller": "CategoriesCtrl", class: "teal lighten-5"}

  %aside
    %ul{class: "collection with-header"}
      %li{class: "collection-header"}
        #categoryHeader Categories
      %li
        = link_to "Back", "#", id: "backLink", "ng-click": "getCategories()", "ng-show": "!atTopLevel", class: "collection-item active"
      %li
        = link_to "{{category.name}}", "#!", class: "categoryLink collection-item", "ng-click": "getCategories(category.id, category)", "ng-repeat": "category in categories"

  %section
    .row
      %h4{class: "teal-text col s4 offset-s1", "ng-bind": "currentCategoryTitle"}
    .row
      %h5{class: "teal-text col s10 offset-s1", "ng-show": "items.length == 0"}
        There are currently no items in this category.

    .row
      #selectionForm{class: "col s3 push-s8", "ng-show": "items.length > 0"}
        = label_tag "Sort By: "
        %select{id: "sortSelection", class: "browser-default", "ng-model": "selectedSort", "ng-options": "sortItem for sortItem in sortList", "ng-change": "setSortOption()"}

    .row
      .itemsContainer{class: "col s10 offset-s1"}
        %h5{class: "teal-text", "ng-show": "atTopLevel"} Please browse from the categories on the left to see what's available
        %div{"ng-repeat": "item in items"}
          .card
            .product-image
              %img{src: "https://unsplash.it/200/200/?random"}
            .card-content
              %span{class: "card-title", "ng-bind": "item.name"}
              .itemDescription{"ng-bind": "item.description"}
              .itemPrice
                %span Price per unit
                %span{"ng-bind-template": "£ {{item.price}}"}
              .itemQty
                %span Stock:
                %span{"ng-bind": "item.quantity"}
            .card-action
              %span Quantity:
              %input{class: "productQuantityInput", type: "number", min:"0", step: "1", "ng-model": "item_quantity", "ng-init": "item_quantity=1"}
              %a{"ng-controller": "BasketsCtrl", "ng-click": "addToBasket(item.id)", class: "addToBasket waves-effect waves-light btn", href: "#"} Add to Basket




