%h1 Restaurant Home Page

%div{id: "productsContainer", "ng-app": "Catalog", "ng-controller": "CategoriesCtrl"}

  %aside
    %h4 Browse Products

    = link_to "Back", "#", id: "backLink", "ng-click": "getCategories()", "ng-show": "!atTopLevel"

    %ul
      %li{"ng-repeat": "category in categories"}
        = link_to "{{category.name}}", "#", class: "categoryLink", "ng-click": "getCategories(category.id, category)"

  %section
    %h2 Products

    #selectionForm
      = label_tag "Sort By: "
      %select{id: "sortSelection", "ng-model": "selectedSort", "ng-options": "sortItem for sortItem in sortList", "ng-change": "setSortOption()"}

    .itemsContainer
      %div{class: "item", "ng-repeat": "item in items"}
        .itemName "{{item.name}}"
        .itemDescription "{{item.description}}"
        .itemPrice "{{item.price}}"
        .itemQty "{{item.quantity}}"

