%h1 Restaurant Home Page

= link_to "Farms near me", map_path

%div{id: "productsContainer", "ng-app": "Catalog", "ng-controller": "CategoriesCtrl"}

  %aside
    %h4 Browse Products

    = link_to "Back", "#", id: "backLink", "ng-click": "getCategories()", "ng-show": "!atTopLevel"

    %ul
      %li{"ng-repeat": "category in categories"}
        = link_to "{{category.name}}", "#", class: "categoryLink", "ng-click": "getCategories(category.id, category)"

  %section
    %h2 Products

    #selectionForm
      = label_tag "Sort By: "
      %select{id: "sortSelection", "ng-model": "selectedSort", "ng-options": "sortItem for sortItem in sortList", "ng-change": "setSortOption()"}

    .itemsContainer
      %div{class: "item", "ng-animate": "'animate'", "ng-repeat": "item in items"}
        .itemName{"ng-bind": "item.name"}
        .itemDescription{"ng-bind": "item.description"}
        .itemPrice{"ng-bind": "item.price"}
        .itemQty{"ng-bind": "item.quantity"}
        %span Quantity:
        %input{type: "number", min:"0", step: "1", "ng-model": "item_quantity"}
        %a{"ng-controller": "BasketsCtrl", "ng-click": "addToBasket(item.id)"}
          %img{src: "https://s3-eu-west-1.amazonaws.com/kpfarmfresh/add_to_basket.png", class:"basketIcon"}


