
#basketNotify {
  display: none;
  position: absolute;
  left: 0px;
  top:  0px;
  background-color: red;
  color: white;
  z-index: 50;
}

#basketContainer {

  display: inline-block;
  text-align: center;

  #basket{
    z-index: -1;
  }

  #basketCount {
    position: absolute;
    background: tomato;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    top: 0px;
    left: 0px;
    color: white;
    font-size: 12px;
  }
}

