
#productsContainer {

  div {
  }

  aside {
    display: inline-block;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
  }

  section {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 75%;
  }

  #sortSelection {
  }

}

#categoryLink {

}

.itemPrice {

}

/*.itemDescription {
  display: inline-block;
}
.itemPrice {
  display: inline-block;
}
.itemQty {
  display: inline-block;
}*/
/*.card-image {
  float: left;
  width: 40%;
  height: 250px;
}
.card-image img {
  height: 100%;
}
.right-content {
  width: 60%;
  float: left;
}
.card-title {
  padding-left: 20px;
}*/

