@import "materialize/components/color";

$primary-color: color("teal", "lighten-2") !default;
$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
$text-color: white;
$accent-color: white;
$background-color: color("teal", "lighten-5");
$basket-count-color: color("red", "lighten-3");

@import 'materialize';
@import 'navbar';
@import 'baskets';
@import 'map';
@import 'catalog';
@import 'orders';
@import 'users';
@import 'landing';


.ff-container {
  margin: 20px auto;
  max-width: 1280px;
  width: 90%;
}

.nav-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}