// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mapContainer {
  /*width: 70%;*/


  #map {
    width: 100%;
    height: 600px;
  }
}


.farmsContainer {
  aside{
    display: inline-block;
    width: 30%;
  }

  section {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    border: 3px solid red;
  }
}
