%ul{id: "nav-mobile", class: "right hide-on-med-and-down"}
  %li #{link_to "Farm Sign In", new_farm_session_path, {class: "waves-effect waves-light btn light-blue darken-3"}}
  %li #{link_to "Restaurant Sign In", new_restaurant_session_path, { class: "waves-effect waves-light btn red accent-2"}}